body {
	display: grid;
	grid-template-columns: 1fr;

}

figure {
	display: flex;
	justify-content: center;
	
}
figure img{
	max-height: 50vh;
}

h1 {
	text-align: center;
}

main {
	display: flex;
}

main * {
		margin: 0px 30px;
}

#description {
	max-width: 50vw;
}

#description * {
	margin: 1rem auto;
}