<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="|${category.name}|">Category</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="|${category.name}|">Category</h1>
		</header>
		<main>
			<p>Reviews:</p>
			<ul>
				<li th:each="review : ${category.reviews}">
					<a th:href="|/reviews/${review.id}|" th:text="|${review.reviewName}|"></a>
				</li>
			</ul>
		</main>
		<footer>
			<a href="/categories">Back</a>
			<small>&copy; 2018</small>
		</footer>
	</div>	
</body>
</html>