<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="|${category.name}|">Category</title>
	<link rel="stylesheet" type="text/css" href="/css/category-layout.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
	<nav>
		<ul>
			<li th:each="category : ${categories}"><a th:href="|/categories/${category.id}|" th:text="${category.name}">Category Links</a></li>
		</ul>
	</nav>

		<header>
			<h1 th:text="|${category.name}|">Category</h1>
		</header>

		<ul>
			<li th:each="review : ${category.reviews}">
				<img th:src="@{|/images/${review.reviewImage}|}" th:href="|/reviews/${review.id}|" th:alt="${review.reviewName}">
				<a th:href="|/reviews/${review.id}|" th:text="|${review.reviewName}|"></a>
			</li>
		</ul>

</body>
</html>