<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.reviewName}">title</title>
	<link rel="stylesheet" type="text/css" href="/css/review-layout.css">
</head>
<body>
	<nav>
		<ul>
			<li th:each="category : ${categories}"><a th:href="|/categories/${category.id}|" th:text="${category.name}">Category Links</a></li>
		</ul>
	</nav>
	<h1 th:text="${review.reviewName}">review Name</h1>
	<figure>
		<img src="|images/${review.reviewImage}|">
	</figure>
	<p th:text="${review.reviewRating}">review rating</p>
	<p th:text="${review.reviewDescription}">description</p>
	<p th:text="${review.recomendation}"></p>
</body>
</html>